---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "wordpress.fullname" . }}-web-route
  annotations:
    {{- $endpoint := "dev" -}}
    {{- if .Values.project.public }}
    kubernetes.io/ingress.class: public-ingress
    {{- $endpoint = "pub" -}}
    {{- else }}
    kubernetes.io/ingress.class: private-ingress
    {{- end }}
spec:
  entryPoints:
    - websecure
  routes:
  {{- if .Values.project.username }}
    - match: Host("{{ .Values.project.name }}-{{ .Values.project.username }}.{{ $endpoint }}.codingduck.cloud")
  {{- else }}
    - match: Host("{{ .Values.project.name }}.{{ $endpoint }}.codingduck.cloud")
  {{- end }}
      kind: Rule
      services:
        - name:  {{ include "wordpress.fullname" . }}-web
          port: 80
          kind: Service
  tls:
    {{- if .Values.project.public }}
    secretName: public-cert-secret
    {{- else }}
    secretName: private-cert-secret
    {{- end }}