# Service
apiVersion: v1
kind: Service
metadata:
  name: {{ include "laravel.fullname" . }}-web
  labels:
    app: {{ include "laravel.fullname" . }}-web
    {{- include "laravel.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "laravel.fullname" . }}-web
  ports:
    - port: 80
      name: http
    - port: 3128
      name: squid
    - port: 5173
      name: vite
    - port: 6001
      name: laravel-echo-server
---
{{- if .Values.web.ssh -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "laravel.fullname" . }}-stunnel
  labels:
    app: {{ include "laravel.fullname" . }}-stunnel
    {{- include "laravel.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "laravel.fullname" . }}-stunnel
  ports:
    - port: 3129
      name: stunnel
{{- end -}}