name: Docker build

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  laravel:
    name: Laravel
    uses: ./.github/workflows/build-runtime.yml
    strategy:
      matrix:
        version: [ '7.4', '8.0', '8.1']
    with:
      runtime: ${{ matrix.version }}
      framework: 'laravel'
    secrets: inherit
  stunnel:
    name: Stunnel
    uses: ./.github/workflows/build-image.yml
    with:
      framework: 'laravel'
      image: 'stunnel'
    secrets: inherit
  wordpress:
    name: Wordpress
    uses: ./.github/workflows/build-runtime.yml
    strategy:
      matrix:
        version: [ '6.0.2' ]
    with:
      runtime: ${{ matrix.version }}
      framework: 'wordpress'
    secrets: inherit